img {
    width: 16%;
    padding: 1%;
  }
  nav {
    width: 73%;
    padding: 1%;
  }
  body {
    font-family: "poppins";
  }
  #aboutMe { 
  margin: 1%;
  }
  #caseStudies {
    margin: 1%;
  }
  button {
    font-family: "poppins";
    color: #ffffff;
    background-color: rgb(169, 9, 69);
    margin: 0%;
    border: 0px;
    border-radius: 5%;
    height: 50px;
    width: auto;
    font-weight: 600;
    font-size: 18px;
  }
  #contactMe {
    margin-right: 20px;
  }
  #resume {
    margin-left: 80px;
  }
  .aboutme {
    margin: 0 80px 0 80px;
  }
  .h1 {
    font-weight: 900;
    font-size: 100;
  }
  footer{
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    justify-content: center;
  }
  h2 {
    margin: 300px 0 25px 0;
  }
  h3 {
    margin: 0 0 5px 0;
    text-align:justify;
    /* text-indent: 17% */
  }
  /* #resumelink {
    text-indent: 20%;
  }
  #emailaddress{
    text-indent: 12%;
  }
  #linkedinlink {
    text-indent: 20%;
  }
  #copywright {
    text-indent: 8%;
  } */
  #copywright {
    margin: 50px 0 1px 0;
  }
  .right{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .contact{
    display:flex;
    justify-content: center;
  }
  footer a {
    margin: 5px;
    text-decoration: none;
    color:rgb(169, 9, 69)
  }
  .picture {
    float:right;
    padding:0 5px 1000px 1100px;
  }